.portfolio_git_icon {
    display:block;
    float: right;
}
  
.portfolio_git_icon img {
    width: 30px;
}

.project_link {
    position: relative;
    height: 100%;
}

.text_overlay {
    margin: 16px 12px;
    padding: 20px 10px;
    opacity: 0;
    position:absolute;
    top:-182px;
    left:0;
    width:350px;
    height:350px;
    background-color: black;
    transition-duration: 0.2s;
}

.text_overlay:hover {
    opacity: 0.9;
    box-shadow: 4px 4px 20px -1px rgba(148,129,81,1);
    -webkit-box-shadow: 4px 4px 20px -1px rgba(148,129,81,1);
    -moz-box-shadow: 4px 4px 20px -1px rgba(148,129,81,1);
}

.portfolio_image {
    margin: 16px 12px;
    box-shadow: 4px 4px 5px 0px  rgba(87,87,87,1);
    -webkit-box-shadow: 4px 4px 5px 0px  rgba(87,87,87,1);
    -moz-box-shadow: 4px 4px 5px 0px  rgba(87,87,87,1);
    transition-duration: 0.5s;
}

.portfolio_col {
    margin-bottom: 20px;
}